* {
    box-sizing: border-box;
}

.body-container {
    width: 560px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150px;
    color: #dcdcdc;
}

form {
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 2px solid whitesmoke;
    border-radius: 30px;
    box-shadow: 1px 1px 2px 1px #888888;
}

input {
    margin-left: 10px;
    padding-left: 8px;
    flex-grow: 2;
    border: none;
    
}

input:focus {
    outline: none;
}

input::placeholder {
    font-size: 14px;
    padding-right: 10px;
}

button {
    color: rgb(82, 80, 80);
    background: transparent;
    border: none;
    
}

form > button {
    color: rgb(82, 80, 80);
    background: transparent;
    border: none;
    
}

.submit {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 13px; 
    font-size: 15px;
}

.task-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 50px;
    border-bottom: 3px solid whitesmoke;
}

.task {
    width: 80%;
    display: inline-block;
    flex-grow: 2;
    margin: auto;
    padding: 0;
    font-size: 20px;
}

.task-completed {
    width: 80%;
    display: inline-block;
    flex-grow: 2;
    margin: auto;
    padding: 0;
    font-size: 20px;
    text-decoration: line-through;
}

.check-button {
    width: 10%;
    height: 50px;
    font-size: 2em;
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
}

.delete-button {
    width: 10%;
    font-size: .8em;
    text-align: center;
    padding: 0;
    border-radius: 50px;
    background-color: whitesmoke;
    font-weight: bold;
    margin-right: 20px;
}

.button-container {
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
}

.clear-all {
    padding-right: 14px;
}


